.logoEco{
	    height: 200px;
}
img {
	    height: 200px;
		width: 200px;
		margin: auto;
		display: flex;
		margin-top: 50px;

}
#usuario{
	border-radius: 10px;
border: 0;
}
#senha {
		border-radius: 10px;
		border: 0;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 40px;
color: white;
width: 100%

}

.extras {
margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
	color: white;
}
.link {
    padding-left: 23px;
}
.erro {
	font-family: arial, sans-serif;
	color: red;
	transition: color 0.3s ease;
	background-color: white;
border-radius: 8px;
margin-top: 10px;

        }
.btn-success {
margin: auto;
display: flex;
}
#labelSenha
{
    margin-right: 11px;
}